body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    position: relative; /* Necesario para posicionar el logo de forma absoluta */
}

/* Estilo para el logo en la parte superior derecha */
#logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 120px; /* Puedes ajustar el tamaño del logo */
    height: auto;
}

/* Estilos para los formularios */
#formulario, #buscar {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 8px 0;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#resultadoBusqueda {
    margin-top: 20px;
}

#resultado {
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}
